<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="7"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
	<debug_mode value="true"/>
  </map>
  
  <player>
	<speed value ="2"/>
    <gravity value ="2"/>
    <jump_force value="4"/>
    <jump_distance value="110"/>
    <dash_distance value="370"/>
  </player>

</config>